body {
    margin: 0;
    padding: 0;
    background-color: #b3b3b3;
}

.main {
    max-width: 1920px;
    margin: auto;
}

    .main .header {
        background-image: url(../img/header.png);
        min-height: 1024px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .main .header .header-top {
            display: flex;
            justify-content: space-between;
            padding-top: 40px;
        }

            .main .header .header-top > a {
                margin-left: 376px;
            }

            .main .header .header-top ul {
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
            }

                .main .header .header-top ul li {
                    list-style-type: none;
                    font-family: Montserrat;
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 300;
                    margin-right: 30px;
                    cursor: pointer;
                }

                    .main .header .header-top ul li:last-child {
                        margin-right: 0;
                    }

                    .main .header .header-top ul li:hover {
                        color: #c7b29a;
                    }

            .main .header .header-top div {
                margin-right: 374px;
                display: flex;
                align-items: center;
                max-width: 70px;
            }

                .main .header .header-top div > a {
                    margin-right: 28px;
                }

        .main .header .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .main .header .header-content > a {
                margin: 0 150px;
            }

            .main .header .header-content div {

            }

                .main .header .header-content div p {
                    margin: 0;
                    text-align: center;
                }

                .main .header .header-content div .header-content-top {
                    font-family: Raleway;
                    color: #ffffff;
                    font-size: 36px;
                    font-weight: 500;
                    margin-bottom: 14px;
                }

                .main .header .header-content div .header-content-middle {
                    font-family: Raleway;
                    color: #ffffff;
                    font-size: 52px;
                    font-weight: 700;
                    margin-bottom: 19px;
                }

                .main .header .header-content div .header-content-bottom {
                    font-family: Montserrat;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 24px;
                    margin-bottom: 52px;
                    max-width: 585px;
                }

                .main .header .header-content div > a {
                    display: block;
                    text-align: center;
                    text-decoration: none;
                }

                    .main .header .header-content div > a span {
                        font-family: Raleway;
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 23px;
                        text-align: center;
                        padding: 21px 39px 21px 37px;
                        background-color: #998675;
                        border-radius: 3px;
                        display: inline-block;
                        text-transform: uppercase;
                    }

        .main .header .header-footer {
            text-align: center;
            margin-bottom: 40px;
        }


    .main .customization {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;        
        padding: 63px 376px 63px 378px;
    }

        .main .customization > div {
            margin-right: 33px;
        }

            .main .customization > div:last-child {
                margin: 0;                
            }

            .main .customization > div .customization-icon {
                display: block;
                padding-bottom: 29px;
                margin: auto;
                fill: #555555;
            }

            .main .customization > div > span {
                font-family: Raleway;
                color: #555555;
                font-size: 22px;
                font-weight: 600;
                text-align: center;
                display: block;
                margin-bottom: 19px;
            }

            .main .customization > div > p {
                font-family: Montserrat;
                color: #8c8c8c;
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                text-align: center;
                margin: 0;
                padding-bottom: 30px;
            }

            .main .customization > div .customization-line {
                max-width: 70px;
                height: 3px;
                background-color: #f1eee9;
                display: block;
                margin: auto;
            }

            .main .customization > div:hover .customization-icon {
                fill: #c7b299;                
            }

            .main .customization > div:hover > span {
                color: #c7b299;
            }

            .main .customization > div:hover .customization-line {
                background-color: #c7b299;
            }


    .main .realization {
        background-color: #fbfaf8;
        padding-top: 83px;
    }

        .main .realization > span {
            font-family: Raleway;
            color: #555555;
            font-size: 30px;
            font-weight: 600;
            display: block;
            text-align: center;
            margin-bottom: 24px;
        }

        .main .realization > p {
            font-family: Montserrat;
            color: #8c8c8c;
            font-size: 16px;
            font-weight: 300;
            line-height: 28px;
            text-align: center;
            max-width: 757px;
            margin: 0 auto 40px auto;
        }

        .main .realization > div {
            margin: auto;
            max-width: 1230px;
            height: 482px;
            background: url(../img/browser-center.png) 50% 50% no-repeat,
                        url(../img/browser-left.png) 0% 100% no-repeat,
                        url(../img/browser-right.png) 100% 100% no-repeat;
        }

        .main .multipurpose {
            min-height: 150px;
            background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
            background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
            background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
            background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
            background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 374px 0 376px;
        }

            .main .multipurpose > div {
                
            }

                .main .multipurpose > div > span {
                    font-family: Raleway;
                    color: #ffffff;
                    font-size: 28px;
                    font-weight: 400;
                    display: block;
                    margin-bottom: 8px;
                }

                    .main .multipurpose > div > span > span {
                        font-family: Raleway;
                        color: #c7b299;
                        font-size: 28px;
                        font-weight: 400;
                    }

                .main .multipurpose > div > p {
                    margin: 0;
                    font-family: Montserrat;
                    color: #615855;
                    font-size: 18px;
                    font-weight: 300;                
                }

            .main .multipurpose > a {
                font-family: Raleway;
                color: #ffffff;
                font-size: 14px;
                font-weight: 700;
                line-height: 23px;
                border-radius: 3px;
                background-color: #998675;
                text-decoration: none;
                padding: 19px 29px 20px 28px;
                text-transform: uppercase;
            }


.main .latest {
    min-height: 800px;
    background-color: #ffffff;
    padding-top: 80px;
    padding-bottom: 80px;
}

    .main .latest .latest-header {
        display: block;
        text-align: center;
        font-family: Raleway;
        color: #555555;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 24px;
    }

    .main .latest > p {
        max-width: 757px;
        text-align: center;
        font-family: Montserrat;
        color: #8c8c8c;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        margin: 0px auto 40px auto;
    }

    .main .latest > div {
        display: flex;
        justify-content: space-between;
        margin: 0 657 40 658;
    }

        .main .latest > div > span {
            font-family: Montserrat;
            color: #8c8c8c;
            font-size: 14px;
            font-weight: 300;
            line-height: 21px;
            padding: 10px 19px 8px 18px;
            border: 1px solid #ebebeb;
            border-radius: 3px;
            background-color: rgba(17, 17, 17, 0);
        }

            .main .latest > div > span:active {
                color: #ffffff;
                background-color: #998675;
            }

        .main .latest .latest-content{
            display: flex;
            flex-wrap: wrap;
            margin: 0 374px 40px 376px;
        }

        .main .latest .latest-content .latest-content-card {
            margin-bottom: 30px;
        }

        .main .latest .latest-content .latest-content-card:nth-child(4) {
            margin-bottom: 0;
        }

        .main .latest .latest-content .latest-content-card:nth-child(5) {
            margin-bottom: 0;
        }

        .main .latest .latest-content .latest-content-card:nth-last-child() {
            margin-bottom: 0;
        }

            .main .latest .latest-content .latest-content-card > img {
                
            }

            .main .latest .latest-content .latest-content-card .latest-content-card-add_img1 {
                justify-content: center;
                position: absolute;
                top: 2636px;
                left: 640px;
                display: none;
            }

            .main .latest .latest-content .latest-content-card .latest-content-card-add_img2 {
                justify-content: center;
                position: absolute;
                top: 2636px;
                left: 1040px;
                display: none;
            }

            .main .latest .latest-content .latest-content-card .latest-content-card-add_img3 {                
                justify-content: center;
                position: absolute;
                top: 2636px;
                left: 1440px;
                display: none;
            }

            .main .latest .latest-content .latest-content-card .latest-content-card-add_img4 {                
                justify-content: center;
                position: absolute;
                top: 3003px;
                left: 640px;
                display: none;
            }

            .main .latest .latest-content .latest-content-card .latest-content-card-add_img5 {                
                justify-content: center;
                position: absolute;
                top: 3003px;
                left: 1040px;
                display: none;
            }

            .main .latest .latest-content .latest-content-card .latest-content-card-add_img6 {                
                justify-content: center;
                position: absolute;
                top: 3003px;
                left: 1440px;
                display: none;
            }

                .main .latest .latest-content .latest-content-card:hover .latest-content-card-add_img1 {
                    display: flex;
                }

                .main .latest .latest-content .latest-content-card:hover .latest-content-card-add_img2 {
                    display: flex;
                }

                .main .latest .latest-content .latest-content-card:hover .latest-content-card-add_img3 {
                    display: flex;
                }

                .main .latest .latest-content .latest-content-card:hover .latest-content-card-add_img4 {
                    display: flex;
                }

                .main .latest .latest-content .latest-content-card:hover .latest-content-card-add_img5 {
                    display: flex;
                }

                .main .latest .latest-content .latest-content-card:hover .latest-content-card-add_img6 {
                    display: flex;
                }

                .main .latest .latest-content .latest-content-card .latest-content-card-add_img1 > svg {
                    margin-right: 28px;
                    fill: #ffffff;
                }

                .main .latest .latest-content .latest-content-card .latest-content-card-add_img2 > svg {
                    margin-right: 28px;
                    fill: #ffffff;
                }

                .main .latest .latest-content .latest-content-card .latest-content-card-add_img3 > svg {
                    margin-right: 28px;
                    fill: #ffffff;
                }

                .main .latest .latest-content .latest-content-card .latest-content-card-add_img4 > svg {
                    margin-right: 28px;
                    fill: #ffffff;
                }

                .main .latest .latest-content .latest-content-card .latest-content-card-add_img5 > svg {
                    margin-right: 28px;
                    fill: #ffffff;
                }

                .main .latest .latest-content .latest-content-card .latest-content-card-add_img6 > svg {
                    margin-right: 28px;
                    fill: #ffffff;
                }

                .main .latest .latest-content .latest-content-card .latest-content-card-add_img1 > svg:hover {
                    fill: #c7b299;
                }

                .main .latest .latest-content .latest-content-card .latest-content-card-add_img2 > svg:hover {
                    fill: #c7b299;
                }

                .main .latest .latest-content .latest-content-card .latest-content-card-add_img3 > svg:hover {
                    fill: #c7b299;
                }

                .main .latest .latest-content .latest-content-card .latest-content-card-add_img4 > svg:hover {
                    fill: #c7b299;
                }

                .main .latest .latest-content .latest-content-card .latest-content-card-add_img5 > svg:hover {
                    fill: #c7b299;
                }

                .main .latest .latest-content .latest-content-card .latest-content-card-add_img6 > svg:hover {
                    fill: #c7b299;
                }

            .main .latest .latest-content .latest-content-card .latest-content-card-text {
                background-color: fbfaf8;
                padding-top: 30px;
            }

            .main .latest .latest-content .latest-content-card .latest-content-card-text .latest-content-card-text-name {
                font-family: Raleway;
                color: #c7b29a;
                font-size: 20px;
                font-weight: 500;
                padding-left: 28px;
                display: block;
            }

            .main .latest .latest-content .latest-content-card .latest-content-card-text .latest-content-card-text-description {
                font-family: Montserrat;
                color: #d1d1d1;
                font-size: 14px;
                font-weight: 300;
                line-height: 28px;
                padding-left: 28px;
                display: block;
                padding-bottom: 27px;
            }

                .main .latest .latest-content-card:hover .latest-content-card-text {
                    background-color: #362f2d;
                }

                    .main .latest .latest-content-card:hover .latest-content-card-text .latest-content-card-text-name {
                        color: #ffffff;
                    }

                    .main .latest .latest-content-card:hover .latest-content-card-text.latest-content-card-text-description {
                        color: #c7b299;
                    }


        .main .latest .latest-buttom {
            display: block;
            margin: 0 auto;
            max-width: 170px;
            text-align: center;            
            text-transform: uppercase;
            font-family: Raleway;
            color: #ffffff;
            font-size: 14px;
            font-weight: 700;
            line-height: 23px;
            background-color: #998675;
            border-radius: 3px;
            padding: 20px 0;
            cursor: pointer;
        }


    .main .video {
        background-image: url(../img/video.png);
        padding-top: 220px;
    }

        .main .video > img {
            display: block;
            margin: 0 auto 40px auto;
        }

        .main .video > span {
            font-family: Raleway;
            color: #ffffff;
            font-size: 30px;
            font-weight: 500;
            display: block;
            text-align: center;
            margin-bottom: 29px;
        }

        .main .video > p {
            font-family: Montserrat;
            color: #ffffff;
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            margin: 0 auto 40px auto;
            max-width: 560px;
        }

        .main .video > time {
            font-family: Montserrat;
            color: #c7b299;
            font-size: 14px;
            font-weight: 400;
            display: block;
            text-align: center;
            padding-bottom: 185px;
        }


    .main .mobile {
        background-color: #fbfaf8;
        display: flex;
        justify-content: space-between;
        padding: 79px 388px 0 423px;
    }

        .main .mobile > img {
            margin-right: 29px;
        }

        .main .mobile > div {
            margin-top: 116px;
        }

            .main .mobile > div > span {
                font-family: Raleway;
                color: #555555;
                font-size: 30px;
                font-weight: 600;
                display: block;
                margin-bottom: 40px;
            }

            .main .mobile > div > p {
                font-family: Montserrat;
                color: #8c8c8c;
                font-size: 16px;
                font-weight: 300;
                line-height: 28px;
                margin: 0 0 45px 0;
            }

            .main .mobile > div > ul {
                margin: 0;
                font-family: Montserrat;
                color: #8c8c8c;
                font-size: 16px;
                font-weight: 300;
                line-height: 32px;
                list-style-type: none;
                margin-left: 50px;
                padding: 0;
            }

                .main .mobile > div > ul > li:before {
                    content: " ";
                    background: url("../img/mobile-ul.png");
                    width: 21px;
                    height: 21px;
                    display: inline-block;
                    margin-right: 29px;
                    position: relative;
                    top: 6px;
                }


.main .numbers {
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: space-between;
    }

    .main .numbers > div {
        margin: 69px 0 60px 0;        
    }

    .main .numbers > div:first-child {
        margin-left: 496px;
    }

    .main .numbers > div:last-child {
        margin-right: 504px;
    }   

        .main .numbers > div .numbers-icon {
            fill: #c7b299;
            display: block;
            margin: 0 auto 30px auto;
        }

        .main .numbers > div > span {
            font-family: Montserrat;
            color: #ffffff;
            font-size: 48px;
            font-weight: 200;
            line-height: 36px;
            display: block;
            text-align: center;
            margin-bottom: 21px;
        }

        .main .numbers > div > p {
            font-family: Montserrat;
            color: #c7b299;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
            margin: 0 0 20px 0;
            text-align: center;
        }

        .main .numbers > div > hr {
            background-color: #ffffff;
            width: 30px;
            size: 2px;
        }


.main .recent {
    background-color: #ffffff;
    padding-top: 82px;
}

    .main .recent > span {
        font-family: Raleway;
        color: #555555;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
        display: block;
    }

    .main .recent > p {
        font-family: Montserrat;
        color: #8c8c8c;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
        margin: 0 auto 40px auto;
        max-width: 757px;
    }

    .main .recent > div {
        display: flex;
        justify-content: space-between;
        margin: 0 374px 0 376px;
        padding-bottom: 40px;
    }

        .main .recent > div > div {
            background-color: #ffffff;
            border: 1px solid #f8f8f8;
        }

            .main .recent > div > div > img {
                display: block;
                margin-bottom: 30px;
            }

            .main .recent > div > div > span {
                font-family: Raleway;
                color: #555555;
                font-size: 20px;
                font-weight: 500;
                margin: 0 0 19px 20px;
                display: block;
            }

            .main .recent > div > div > p {
                font-family: Montserrat;
                color: #8c8c8c;
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
                margin: 0 0 27px 20px;
                max-width: 297px;
            }

            .main .recent > div > div .read-m {
                font-family: Montserrat;
                color: #c7b299;
                font-size: 14px;
                font-weight: 300;
                line-height: 20px;
                margin: 0 0 28px 20px;
                cursor: pointer;
            }

                .main .recent > div > div .read-m::after {
                    content: " ";
                    background: url("../img/posts-arrow.png");
                    display: inline-block;
                    width: 5px;
                    height: 8px;
                    margin-left: 9px;
                    cursor: pointer;
                }

    .main .recent .recent-arrow {
        display: flex;
        justify-content: center;
        padding-bottom: 80px;
    }

        .main .recent .recent-arrow .recent-arrow-normal {
            display: block;
            fill: #d1d1d1;
            margin-right: 8px;
            cursor: pointer;
        }

            .main .recent .recent-arrow .recent-arrow-normal:last-child {
                margin: 0;
            }

            .main .recent .recent-arrow .recent-arrow-normal:hover {
                fill: #c7b299;
            }


.main .emblems {
    background-image: url(../img/emblems.png);
    min-height: 489px
}

.main .footer {
    min-height: 508px;
    background-color: #191919;
}

.main .footer-bottom {
    min-height: 111px;
    background-color: #111111;
}